APScheduler==3.11.3
certifi==2026.7.22
charset-normalizer==3.5.1
idna==3.19
iso8601==2.1.0
numpy==2.5.3
openapi-client==1.1.7
pandas==3.0.5
prettytable==3.18.0
python-dateutil==2.9.0.post0
requests==2.34.2
setuptools==84.0.0
six==1.17.0
ta==0.11.0
tinkoff_invest==1.0.5
tzlocal==5.4.4
ujson==6.0.0
urllib3==2.7.0
wcwidth==0.8.3
websocket-client==1.9.2
fastapi
uvicorn
jinja2
